.items {
  width: 100%;
  height: 500px;
  padding-top: 40px;
  position: relative;
  

  h2 {
    margin-bottom: 60px;
    text-align: center;
    color: white;
  }

  ul {
    display:flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
  }
  ul li {
    width: 200px;

  }
  ul li figure {
    margin: 0;
  }

  figure {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;

    img {
      height: 150px;
      width: 150px;
    }
  }
  

  h3 {
    text-align: center;
    
  }

  .push {
    font-size: 15px;
    margin-bottom: 10px;
  }

  p {
    font-size: small;
    margin-top: 10px;
    
  }

  .type {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

}

.items::before {
  content: '';
  background:linear-gradient(to bottom, darkorange, 50%, lightyellow);
  position: absolute;
  width: 100%;
  height: 300px;
  z-index:-1;
}

.item-info {
  display: none;
 
}

.active {
  display: block;
}
