section{
  margin-bottom: 120px;

}

.mainvisual{
  position: relative;
  height: 600px;

  img {
  width: 750px;
  height: 500px;
  object-fit: cover;
  margin-left: 30%;
  }

  h2 {
  position: absolute;
  top: 30%;
  left: 20%;
  background: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  padding: 1rem;
  }
}

.bg1{
  
  background:linear-gradient(to right, darkorange, 50%, lightyellow);
  height: 700px;
  width: 45%;
  position: absolute;
  top: -18%;
  left: 0;
  z-index: -1;
}
