.news .content-wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 180px;
  
  

  li {
    border-bottom: dotted 1px #dedede;
    padding-top: 20px;

    a {
      color: #333;

      :hover {
        opacity: .6;
      }
    }

    time {
      font-size: .75em;
      color: #949494;
      margin-right: 80px;
    }
  }
}

.news {
  margin-bottom: 50px;
  text-align: center;
  
}