

html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: serif;
  font-weight: 500;
  color: #333333;
  line-height: 2.0;
}
h2,h3,h4,h5{
  margin: 0;
  padding: 0;

}
h1{
  color: #fff;
  padding-top: 35px;
  
  
}
p{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: italic;
  
}
img{
  width: 100%;
  vertical-align: bottom;
}

ul,li,dl,dt,dd{
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

p{
  margin: 0 0 1em 0;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  transition: 0.3s;
  opacity: 0.6;
}

.content-wrapper{
  width: 1400px;
  margin: 0 auto;
}

@import "header";
@import "mainvisual";
@import "greeting";
@import "work";
@import "news";
@import "recruit";

